.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 5px 15px;
    border: 1px solid #93A27C;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    div{
        background: #93A27C;
        border-radius: 50%;
        border: none;
        padding: 10px 15px;
    }
}