.category {
  background: #faf5f1;
  display: flex;
  flex-direction: column;
  padding: 4% 50px;
  gap: 30px;
  article {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }

  h1 {
    font-size: 56px;
    color: #493829;
    span {
      color: #b89776;
      font-weight: 650;
    }
  }
}
@media (max-width: 1000px) {
  .category {
    article {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (max-width: 768px) {
  .category {
    h1 {
      font-size: 50px;
    }
    article{
      gap: 20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

