Header{
    background-color: gray ;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    .foodland{
        background-color: white;
        border-radius: 14px;
        width: 105px;
        height: 44px;
        padding: 5px 20px;
    }
    div{
        background-color: white;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
        border-radius: 16px;
    }
    span{
        display: flex;
        align-items: center;
        gap: 20px;
        img{
            padding: 10px;
            background-color: white;
            border-radius: 50px;
        }
        .bag{
            padding: 12px 13px;
            background-color: white;
            border-radius: 50px;
        }
    }   
}