Header{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    .foodland{
        background-color: white;
        border-radius: 14px;
        width: 105px;
        height: 44px;
        padding: 5px 20px;
    }
    div{
        background-color: white;
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 50px;
        border-radius: 16px;
    }
    span{
        display: flex;
        align-items: center;
        gap: 20px;
        img{
            padding: 10px;
            background-color: white;
            border-radius: 50px;
        }
        .bag{
            padding: 12px 13px;
            background-color: white;
            border-radius: 50px;
        }
        
        .burger{
            width: 40px;
            height: 42px;
            border-radius: 50px;
            display: none;
        }
        
    } 
    
}


@media (max-width : 768px) {
    Header{
        .foodland{
            background-color: white;
            border-radius: 14px;
            width: 25%;
            height: 44px;
        }
        div{
            display: none;
        }
        span{
            .burger, img, .bag{
                width: 48px;
                height: 48px;
                border-radius: 50px;
                display: block;
            }
        }
    }
}